<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
            integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
            integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
            crossorigin="anonymous"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <style>
        .table_data_align{
            text-align: center; vertical-align: middle;
        }
        #status_id1 {
            color: cadetblue; font-weight: bold; border: dimgray solid 1px; border-radius: 5px 5px 5px 5px; padding: 5px;
        }
        #status_id2 {
            color: sandybrown; font-weight: bold; border: dimgray solid 1px; border-radius: 5px 5px 5px 5px; padding: 5px;
        }
        #status_id3 {
            color: yellowgreen; font-weight: bold; border: dimgray solid 1px; border-radius: 5px 5px 5px 5px; padding: 5px;
        }
        #status_id4 {
            color: green; font-weight: bold; border: dimgray solid 1px; border-radius: 5px 5px 5px 5px; padding: 5px;
        }
        #status_id5 {
            color: #a8a8a8; font-weight: bold; border: dimgray solid 1px; border-radius: 5px 5px 5px 5px; padding: 5px;
        }
    </style>
    <title>Автомобильные инциденты</title>
</head>
<body>
<br>
<div class="container" style="border-radius: 10px 10px 10px 10px; background-color: #f6f5f5">
    <br>
    <div class="container">
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link" aria-current="page" href="#"><b>АВТОИНЦИДЕНТЫ</b></a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" th:href="@{/index}">Инциденты</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/createAccident}">Добавить инцидент</a>
            </li>
            <li th:if="${username == 'root'}" class="nav-item" >
                <a class="nav-link" th:href="@{/allQueued}">Очередь</a>
            </li>
            <li th:if="${username == 'root'}" class="nav-item">
                <a class="nav-link" th:href="@{/allArchived}">Архив</a>
            </li>
            <li class="nav-item">
                <button type="button" class="btn btn-primary" onclick="window.location.href='/logout'">
                    <span th:text="${username + ' |Выйти'}"></span></button>
            </li>
        </ul>
        <br>
        <table class="table table-striped" style="background-color: ghostwhite">
            <caption style="caption-side: top; text-align: right; font-weight: bold">
                <span>Автоинциденты</span>
                <a th:href="@{/allQueued}">
                    <i class="fa fa-exclamation-triangle" style="color: #948900" title="очередь" aria-hidden="true"></i>
                </a>
                <a th:href="@{/allArchived}">
                    <i class="fa fa-archive" style="color: #a8a8a8" title="архив" aria-hidden="true"></i>
                </a>
            </caption>
            <thead class="table-danger">
                <tr style="text-align: center">
                    <th scope="col">user(id)</th>
                    <th scope="col">id</th>
                    <th scope="col">Имя</th>
                    <th scope="col">Тип</th>
                    <th scope="col">Статьи</th>
                    <th scope="col">Адрес</th>
                    <th scope="col">Создан</th>
                    <th scope="col">Обновлён</th>
                    <th scope="col">Действие</th>
                    <th scope="col">Статус</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="accident :${accidents}" th:with="rules=${accident.rules}" class="table_data_align">
                    <td th:text="${accident.user.id}"></td>
                    <th scope="row" th:text="${accident.id}"></th>
                    <td th:text="${accident.name}"></td>
                    <td th:text="${accident.type.name}"></td>
                    <td th:text="${#lists.size(rules) == 0} ? ${'[......]'} : ${#strings.listJoin(rules, ' , ')}"></td>
                    <td th:text="${accident.address}"></td>
                    <td th:text="${#temporals.format(accident.created, 'dd/MM/YY HH:mm')}"></td>
                    <td th:text="${#temporals.format(accident.updated, 'dd/MM/YY HH:mm')}"></td>
                    <td>
                        <table>
                            <tbody>
                            <tr th:with="status_id=${accident.status.id}">
                                <td>
                                    <form th:unless="${(status_id == 4) or (status_id == 5)}"
                                                        th:action="@{|/accidents/${accident.id}/edit|}" method="GET">
                                        <input type="hidden" name="status.id" value="3"/>
                                        <button type="submit" class="btn btn-success" >Рассмотреть</button>
                                    </form>
                                    <form th:if="${status_id == 4}" th:action="@{|/accidents/${accident.id}/addToArchive/confirm|}" method="GET">
                                        <input type="hidden" name="status.id" value="5"/>
                                        <button type="submit" class="btn btn-dark">Архивировать</button>
                                    </form>
                                </td>
                                <td>
                                    <form th:if="${(status_id == 1)}" th:action="@{|/accidents/${accident.id}/addToQueue/confirm|}" method="GET">
                                        <input type="hidden" name="status.id" value="2"/>
                                        <button type="submit" class="btn btn-warning" >Отложить</button>
                                    </form>
                                    <form th:if="${status_id == 4}" th:action="@{|/accidents/${accident.id}/edit|}" method="GET">
                                        <input type="hidden" name="status.id" value="3"/>
                                        <button type="submit" class="btn btn-outline-info">Править</button>
                                    </form>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                    <td>
                        <div th:with="status=${accident.status}">
                            <span th:if="${status.id == 1}" th:text="${status}" id="status_id1"></span>
                            <span th:if="${status.id == 2}" th:text="${status}" id="status_id2"></span>
                            <span th:if="${status.id == 3}" th:text="${status}" id="status_id3"></span>
                            <span th:if="${status.id == 4}" th:text="${status}" id="status_id4"></span>
                            <span th:if="${status.id == 5}" th:text="${status}" id="status_id5"></span>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <div>
            <div style="float: left">
                <button type="button" class="btn btn-primary" onclick="window.location.href='/createAccident'">Создать</button>
            </div>
            <div style="float: right">
                <button type="button" class="btn btn-secondary" onclick="window.location.href='#top'">В начало</button>
            </div>
        </div>
        <br><br>
    </div>
</div>
</body>
</html>